<div class="py-14 px-4">
  <div class="container mx-auto">
    <h2 class="text-4xl font-bold text-slate-800 mb-6">Benefits</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
      <div>
        <p class="mb-6 text-gray-700">
          The decision to go for a joint venture on your land should be guided by several criteria to ensure maximum returns on your investment. A few of these are:
        </p>
        <ul class="space-y-4">
          <li class="flex gap-3 items-start">
            <div class="w-2 h-2 mt-2 rounded-full bg-[var(--primary)]"></div>
            <span class="text-lg">Strong brand association</span>
          </li>
          <li class="flex gap-3 items-start">
            <div class="w-2 h-2 mt-2 rounded-full bg-[var(--primary)]"></div>
            <span class="text-lg">Design excellence in terms of functionality and aesthetics</span>
          </li>
          <li class="flex gap-3 items-start">
            <div class="w-2 h-2 mt-2 rounded-full bg-[var(--primary)]"></div>
            <span class="text-lg">Adherence to high quality construction</span>
          </li>
          <li class="flex gap-3 items-start">
            <div class="w-2 h-2 mt-2 rounded-full bg-[var(--primary)]"></div>
            <span class="text-lg">Association with international architectural firms</span>
          </li>
          <li class="flex gap-3 items-start">
            <div class="w-2 h-2 mt-2 rounded-full bg-[var(--primary)]"></div>
            <span class="text-lg">Adept sales and marketing teams</span>
          </li>
          <li class="flex gap-3 items-start">
            <div class="w-2 h-2 mt-2 rounded-full bg-[var(--primary)]"></div>
            <span class="text-lg">Proficiency in Architectural, Electro-Mechanical, Electrical, Plumbing and Structural design</span>
          </li>
          <li class="flex gap-3 items-start">
            <div class="w-2 h-2 mt-2 rounded-full bg-[var(--primary)]"></div>
            <span class="text-lg">One stop shop for interior design and modification work</span>
          </li>
          <li class="flex gap-3 items-start">
            <div class="w-2 h-2 mt-2 rounded-full bg-[var(--primary)]"></div>
            <span class="text-lg">World-class after sales service</span>
          </li>
          <li class="flex gap-3 items-start">
            <div class="w-2 h-2 mt-2 rounded-full bg-[var(--primary)]"></div>
            <span class="text-lg">Efficiency in Project Management and Operations</span>
          </li>
        </ul>
      </div>
      <div class="flex items-center justify-center">
        <a routerLink="">
          <img src="/images/banner/banner-3.png" alt="Benefit" class="rounded shadow-md object-cover w-full h-[450px]" />
        </a>
      </div>
    </div>
  </div>
</div>
