<div class="land_benifits pb-10 px-2">
  <div class="w-[85%] mx-auto">
    <h1 class="text-4xl text-slate-800 mb-10 fade-up">Benifits</h1>

    <div class="benifit_details">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-16 fade-up">
        <div>
          <p class="mb-10">
            The decision to go for a joint venture on your land should be guided
            by several criteria to ensure maximum returns on your investment. A
            few of these are:
          </p>

          <ul>
            <li class="border-b py-4 text-lg">Strong brand association</li>
            <li class="border-b py-4 text-lg">
              Design excellence in terms of functionality and aesthetics
            </li>
            <li class="border-b py-4 text-lg">
              Adherence to high quality construction
            </li>
            <li class="border-b py-4 text-lg">
              Association with international architectural firms
            </li>
            <li class="border-b py-4 text-lg">
              Adept sales and marketing teams
            </li>
            <li class="border-b py-4 text-lg">
              Proficiency in Architectural, Electro-Mechanical, Electrical,
              Plumbing and Structural design
            </li>
            <li class="border-b py-4 text-lg">
              One stop shop for interior design and modification work
            </li>
            <li class="border-b py-4 text-lg">
              World-class after sales service
            </li>
            <li class="border-b py-4 text-lg">
              Efficiency in Project Management and Operationsn
            </li>
          </ul>
        </div>
        <div>
          <div class="flex items-center fade-up justify-center">
            <a routerLink="">
              <img
                src="images/banner/banner_1.jpg"
                alt="Benefit"
                class="rounded shadow-md object-cover w-full h-[650px]"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
