.hero {
  background: url("/images/fallback.png") no-repeat center center / cover;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 20px;
  z-index: 1;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

@media (min-width: 768px) {
  .hero {
    padding-top: 7rem;
    padding-bottom: 7rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .hero {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
}

@media (min-width: 1280px) {
  .hero {
    padding-top: 270px;
    padding-bottom: 270px;
  }
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.hero-text h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2.25rem;
  color: #f8fafc;
  margin-bottom: 2rem;
  text-align: center;
}

@media (min-width: 1024px) {
  .hero-text h1 {
    font-size: 3.75rem;
  }
}

@media (min-width: 768px) {
  .hero-text h1 {
    text-align: left;
  }
}

.hero-text h1 span:first-child {
  margin-bottom: 1.25rem;
  display: inline-block;
}

@media (min-width: 768px) {
  .hero-text h1 span:last-child {
    margin-left: 4rem;
  }
}

.hero-text p {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  color: var(--accent);
  text-align: center;
}

@media (min-width: 1024px) {
  .hero-text p {
    margin-left: 10rem;
  }
}

@media (min-width: 768px) {
  .hero-text p {
    text-align: left;
  }
}

.hero-button {
  bottom: -10rem;
}

@media (min-width: 1024px) {
  .hero-button {
    bottom: -12rem;
    padding: 3rem 0.75rem;
    font-size: 1.25rem;
  }
}

@media (min-width: 1280px) {
  .hero-button {
    bottom: -340px;
    padding: 4rem 1.5rem;
    font-size: 1.5rem;
  }
}