<div
  class="hidden md:flex fixed top-1/4 right-4 z-50 flex-col gap-3 transition-transform duration-500 ease-in-out"
  [class.translate-x-full]="!showRight"
>
  <button
    *ngFor="let section of sections"
    (click)="scrollToSection(section.id)"
    [class.bg-accent]="activeTab === section.id"
    [class.text-light]="activeTab === section.id"
    class="px-4 py-2 rounded-md font-semibold text-dark hover:bg-accent hover:text-light transition-colors duration-300 whitespace-nowrap"
  >
    {{ section.label }}
  </button>
</div>