nav {
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

nav.transparent {
  background: transparent;
}


nav.hide {
  transform: translateY(-100%);
  opacity: 0;
}

/* Default text color when transparent */
nav.transparent .nav-left a,
nav.transparent .nav-right a,
nav.transparent .menu-btn-wrapper,
nav.transparent .menu-btn span {
  color: var(--light);
  border-color: var(--light);
}


/* Links default */
nav .nav-left a,
nav .nav-right a {
  position: relative;
  color: var(--light);
  transition: color 0.3s ease-in-out;
}

/* Glowing underline effect */
nav .nav-left a::after,
nav .nav-right a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: var(--accent);
  box-shadow: 0 0 8px var(--accent), 0 0 12px var(--accent);
  transition: width 0.3s ease-in-out;
}

/* Expand underline on hover */
nav .nav-left a:hover::after,
nav .nav-right a:hover::after {
  width: 100%;
}


/* Menu button */
.menu-btn-wrapper {
  border: 2px solid var(--light);
  transition: all 0.3s ease-in-out;
}

/* Glow on hover */
.menu-btn-wrapper:hover {
  border-color: var(--accent);
  box-shadow: 0 0 8px var(--accent);
}

/* Hide navbar content except menu button */
nav.hide-navbar .nav-left,
nav.hide-navbar .nav-center,
nav.hide-navbar .nav-right .hide
 {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.5s ease;
}

/* Menu button remains visible */
nav.hide-navbar .nav-right .show-always {
  border-color: var(--accent);
  background-color: var(--accent);
  box-shadow: 0 0 8px var(--accent);
  justify-content: flex-end;
}

/* Optional: shrink nav height when scrolled */
nav.hide-navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
