
nav {
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

nav.transparent {
  background: transparent;
}

nav.glass {
      background-color: rgba(81, 221, 142, 0.8);
    box-shadow: rgba(0, 0, 0, 0.6) 0px -7px 27px 3px;
}

nav.hide {
  transform: translateY(-100%);
  opacity: 0;
}