<div class="border rounded-3xl cursor-pointer hover:border-blue-500 hover:-translate-y-2 transition duration-500 ease-in-out shadow-xl" [routerLink]="['/blogDetails', item.id]" data-animate>
  <!-- Image -->
  <div class="rounded-t-3xl overflow-hidden">
    <img class="w-full h-80 sm:h-72 md:h-80 rounded-t-3xl object-cover transform transition duration-500 ease-in-out hover:scale-110" [src]="baseURL + '/api/attachment/get/' + item.image" alt="" />
  </div>

  <!-- Title -->
  <div class="p-5 sm:p-2 md:p-5 mt-3">
    <h2 class="text-2xl font-semibold mb-8 sm:mb-5 md:mb-8 group-hover:text-blue-500 transition-colors">
      {{ item.title }}
    </h2>
    <hr />
    <div class="flex items-center justify-between">
      <!-- Author -->
      <div class="mt-8 sm:mt-5 md:mt-8 flex items-center gap-5">
        <div>
          <img *ngIf="item.picture" class="w-14 h-14 rounded-full object-cover" [src]="baseURL + '/api/attachment/get/' + item.picture" alt="" />
        </div>
        <div>
          <h4 class="font-semibold text-lg" *ngIf="item.name">{{ item.name }}</h4>
          <span class="text-sm text-gray-500">{{ item.postedDate | date : 'MMMM d, y' }}</span>
        </div>
      </div>

      <!-- Countdown -->
      <div class="mt-10" *ngIf="item.offerDate">
        <h2 class="font-semibold text-blue-500 text-lg">Offer Time:</h2>
        <span class="text-2xl text-red-500">{{ countdown || 'Loading...' }}</span>
      </div>
    </div>
  </div>
</div>