<div class="relative">
  <input type="hidden" id="projectId" [value]="projectId">
  <app-project-header [project]="state.data" [baseUrl]="baseUrl" (imageError)="onImageError($event)" appFadeIn></app-project-header>
  <app-offer-timer [timer]="state.timer" [offerActive]="state.offerActive" appFadeIn></app-offer-timer>
  <!-- <app-marquee [offerTitle]="state.data?.offerTitle" appFadeIn></app-marquee> -->
  <app-tab-bar appFadeIn></app-tab-bar>
  <app-at-glance id="atGlance" [project]="state.data" [baseUrl]="baseUrl" (imageError)="onImageError($event)" appFadeIn></app-at-glance>
  <app-feature-amenities id="featureAndAmenities" [features]="state.list" [baseUrl]="baseUrl" (imageError)="onImageError($event)" appFadeIn></app-feature-amenities>
  <app-video-player youtubeUrl="https://www.youtube.com/watch?v=8gU3scoIEs0"></app-video-player>
  <app-project-gallery id="projectGallery" [gallery]="state.gallery" [baseUrl]="baseUrl" (imageError)="onImageError($event)" appFadeIn></app-project-gallery>
  <app-location-map id="locationMap" [latitude]="state.data?.latitude" [longitude]="state.data?.longitude" appFadeIn></app-location-map>
  <app-related-projects id="relatedProjects" [projects]="state.projects" [baseUrl]="baseUrl" (imageError)="onImageError($event)" appFadeIn></app-related-projects>
  <app-contact-form id="contacting" (formSubmit)="onFormSubmit()" appFadeIn></app-contact-form>
</div>
