<div class="relative">
  <input type="hidden" id="projectId" [value]="projectId">
  <app-project-header [project]="state.data" [baseUrl]="baseUrl" (imageError)="onImageError($event)"></app-project-header>
  <app-offer-timer [timer]="state.timer" [offerActive]="state.offerActive"></app-offer-timer>
  <app-marquee [offerTile]="state.data?.offerTile"></app-marquee>
  <app-tab-bar></app-tab-bar>
  <app-at-glance id="atGlance" [project]="state.data" [baseUrl]="baseUrl" (imageError)="onImageError($event)"></app-at-glance>
  <app-feature-amenities id="featureAndAmenities" [features]="state.list" [baseUrl]="baseUrl" (imageError)="onImageError($event)"></app-feature-amenities>
  <app-video-player id="videoPlayer" [youtubeUrl]="state.data?.youtube"></app-video-player>
  <app-project-gallery id="projectGallery" [gallery]="state.gallery" [baseUrl]="baseUrl" (imageError)="onImageError($event)"></app-project-gallery>
  <app-location-map id="locationMap" [latitude]="state.data?.latitude" [longitude]="state.data?.longitude"></app-location-map>
  <app-related-projects id="relatedProjects" [projects]="state.projects" [baseUrl]="baseUrl" (imageError)="onImageError($event)"></app-related-projects>
  <app-contact-form id="contacting" (formSubmit)="onFormSubmit()"></app-contact-form>
</div>