<!-- src/app/components/side-panel/side-panel.component.html -->
<div [class.open]="sidePanel.open$()" class="side-panel">
  <div class="side-panel-header">
    <button (click)="sidePanel.close()" id="close-panel">&times;</button>
  </div>
  <ul class="side-panel-links">
    <li><a href="#home" (click)="sidePanel.close()">Home</a></li>
    <li><a href="#about" (click)="sidePanel.close()">About</a></li>
    <li><a href="#properties" (click)="sidePanel.close()">Properties</a></li>
    <li><a href="#contact" (click)="sidePanel.close()">Contact</a></li>
  </ul>
</div>
