<div class="project_location py-20" id="locationMap">
  <div class="">
    <h1 class="text-center text-2xl font-semibold mb-6">Location</h1>

    <!-- Full width & height map -->
    <div class="project_location py-14" id="locationMap">
      <div>
        <div [innerHTML]="safeMapIframe"></div>
      </div>
    </div>

    <!-- Optional section below map -->
    <div class="adds flex justify-between items-center">
      <div class="px-4 flex items-center gap-3">
        <i class="ri-bookmark-3-fill"></i>
      </div>
      <div>
        <a routerLink="/contact" class="btn-primary">Register Now</a>
      </div>
      <div class="px-4 flex items-center gap-3">
        <i class="ri-bookmark-3-fill"></i>
      </div>
    </div>
  </div>
</div>
