@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: #EDF1D6;
  --accent-light: #9DC08B;
  --accent: #609966;
  --dark: #40513B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  @apply bg-light text-dark overflow-x-hidden;
}

.visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
}