<div class="vision_banner mb-14 py-20 md:py-28 xl:py-[270px] md:px-2 lg:px-5 lg:py-36">
  <div class="container mx-auto relative">
    <h1 class="text-4xl lg:text-6xl text-white font-semibold mb-8 text-center md:text-left">
      <span class="mb-5">A Vision For</span><br /><span class="md:ms-16">Luxury Living</span>
    </h1>
    <p class="lg:ms-40 text-slate-50 text-lg text-center md:text-left">
      Founded in 1999, Sanmar Properties has become a pioneer in residential, commercial and shopping mall development, as well as, land subdivision development. With its headquarters now located in Dhaka, Sanmar has grown rapidly in stature due to its pioneering, innovative and sustainable approach to real estate development.
    </p>
    <a routerLink="/about" class="w-24 h-24 md:w-28 md:h-28 lg:w-32 lg:h-32 xl:w-40 xl:h-40 flex items-center justify-center font-semibold bg-accent text-light text-sm lg:text-base xl:text-lg rounded-full absolute ring-offset-2 ring ring-accent hover:bg-accent-light transition duration-500 ease-in-out ">Read More</a>
  </div>
</div>