<div class="py-12 px-4 md:px-8 rounded-2xl">
  <div class="mx-auto w-[85%]" >
    <p class="text-accent">News & Article</p>
    <div class="flex justify-between items-center">
      
      <h1 class="text-4xl text-dark font-semibold">
        Stay Update With Tricon Properties
      </h1>
      <div class="nav flex items-end gap-4 fade-up">
        <button
          (click)="prev()"
          class="w-12 h-12 flex items-center justify-center bg-accent text-light rounded-full ring-offset-2 ring ring-accent hover:bg-accent-light transition duration-500 ease-in-out text-lg font-semibold"
        >
          ←
        </button>
        <button
          (click)="next()"
          class="w-12 h-12 flex items-center justify-center bg-accent text-light rounded-full ring-offset-2 ring ring-accent hover:bg-accent-light transition duration-500 ease-in-out text-lg font-semibold"
        >
          →
        </button>
      </div>
    </div>
    
  </div>

  
</div>

<app-blog-list />

